<%= form_for(@question, :html => { :class => 'form-horizontal'}) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :op1 %><br>
    <%= f.text_field :op1 %>
  </div>
  <div class="form-group">
    <%= f.label :op2 %><br>
    <%= f.text_field :op2 %>
  </div>
  <div class="form-group">
    <%= f.label :op3 %><br>
    <%= f.text_field :op3 %>
  </div>
  <div class="form-group">
    <%= f.label :op4 %><br>
    <%= f.text_field :op4 %>
  </div>
  <div class="form-group">
    <%= f.label :cor %><br>
    <%= f.text_field :cor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
